@charset "utf-8";


.go-layout{width:100%; margin:0 auto}
.go-layout:after{content:"";clear:both;display:block}
.go-ir{display:block;width:100%;height:100%;overflow:hidden}
.go-ir:before{content:"";display:block;width:100%;height:100%}
.go-button{display:block;padding:0;background:transparent;border-width:0}

#mainVisual{position:relative;width:100%;height:520px;overflow:hidden;background:#000}
#mainVisual .grap{height:100%}
#mainVisual .grap .obj,
#mainVisual .grap .obj .item{width:100%;height:100%}
#mainVisual .grap .obj{position:relative}
#mainVisual .grap .obj .item{display:none;position:absolute;top:0;left:50%;margin-left:-50%}
#mainVisual .grap .obj .item:first-child{display:block}

#mainVisual .grap .obj .item:before{content:"";position:absolute;z-index:10;top:0;left:0;width:100%;height:100%;}

#mainVisual .grap .obj .item .r,
#mainVisual .grap .obj .item .l{position:absolute;top:0;width:100%;height:100%;overflow:hidden}
#mainVisual .grap .obj .item .r{left:-100%}
#mainVisual .grap .obj .item .l{right:-100%}

#mainVisual .objChildren{position:absolute;top:0;right:50px;z-index:10;width:220px;height:340px;margin:75px 0 0 0;padding:20px 30px;background:url(../img/visual_txtBg.png)}

#mainVisual .control{position:absolute; bottom:20px; width:100%;overflow:hidden;text-align:center; z-index:10;}
#mainVisual .control button{display:inline-block;width:21px;height:21px;background:url(../img/visual_control.png) no-repeat 0 center;vertical-align:middle}
#mainVisual .control button[data-type="stop"]{background-position:6px center}
#mainVisual .control button[data-type="play"]{background-position:-17px center;display:none}
#mainVisual .control span button{width:30px;height:4px;background:#ddd;box-shadow:0 0 3px #999;margin:0 5px;vertical-align:middle}
#mainVisual .control span button.ov{background:#f64b00}

#mainVisual .child{position:relative;margin-top:10px;height:295px}
#mainVisual .childItem{display:none;position:absolute;top:0;left:0}
#mainVisual .childItem:first-child{display:block}
#mainVisual .childItem .childTit {display:block;text-align:center}
#mainVisual .childItem .childTit span {display:inline-block;border-bottom:1px solid #b8ff30;font-size:15px;font-weight:600;color:#b8ff30;line-height:1.3}
#mainVisual .childItem a{display:block;height:240px;overflow:hidden;line-height:22px;color:#fff;line-height:1.4;}
#mainVisual .childItem i{display:table-cell;text-align:justify;vertical-align:middle;font-family:'Nanum Myeongjo',sans-serif;font-size:30px;letter-spacing:-2px;font-weight: 600;font-style: normal;line-height:1.1;height:80px}
#mainVisual .childMore {border-top:1px solid #bdc3b9; padding-top:7px;display:block}
#mainVisual .childMore .more{position:absolute;bottom:25px;right:30px;width:20px;height:20px;background:url(../img/icon_search_on.png) no-repeat}
#mainVisual .childMore .hit {font-weight:600;color:#fff}
#mainVisual .childMore .hit span {display:inline-block;padding:0 8px;background:#acb4a8;color:#103d0c;margin-right:3px;font-weight:400;font-size:11px;border-radius:15px;}


#mainVisual .parentControl{position:absolute;z-index:30;top:0;left:50%;width:1200px;margin-left:-600px}
#mainVisual .parentControl button[data-type]{position:absolute;top:210px;width:50px;height:60px;background:url(../img/allow_left.png) no-repeat center center; cursor:pointer;border:1px solid #fff;opacity:0.6;}
#mainVisual .parentControl button[data-type]:hover {opacity:1;}
#mainVisual .parentControl button[data-type="prev"]{left:-80px;background-image:url(../img/allow_left.png);}
#mainVisual .parentControl button[data-type="next"]{right:-80px;background-image:url(../img/allow_right.png);}

@media screen and (max-width:740px) {
	#mainVisual{position:relative;width:100%;height:350px;overflow:hidden;background:#000}
	#mainVisual figure {height:100%;}
	#mainVisual figure img {height:100%;}
	#mainVisual .objChildren{left:50%;right:auto;width:80%;height:50px;margin:50px 0 0 -40%;padding:20px 0}
	#mainVisual .child {margin-top:0;}
	#mainVisual .childItem a {height:30px; overflow:hidden; text-align:center;}
	#mainVisual .childItem a i {text-align:center;display: block;padding:10px 20px; font-size:20px;height:20px; display: -webkit-box;  text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 1; overflow: hidden;}
	#mainVisual .childMore {display:none}
}
@media screen and (max-width:480px) {
	#mainVisual{height:250px}
	#mainVisual .objChildren{margin:20px 0 0 -40%}
}