@charset "utf-8";


.go-layout{max-width:1200px; min-width:1100px; margin:0 auto}
.go-layout:after{content:"";clear:both;display:block}
.go-ir{display:block;width:100%;height:100%;overflow:hidden}
.go-ir:before{content:"";display:block;width:100%;height:100%}
.go-button{display:block;padding:0;background:transparent;border-width:0}

#mainVisual{position:relative;width:100%;min-width:1100px;height:520px;overflow:hidden;background:#000}
#mainVisual .grap{height:100%}
#mainVisual .grap .obj,
#mainVisual .grap .obj .item{width:100%;height:100%}
#mainVisual .grap .obj{position:relative}
#mainVisual .grap .obj .item{display:none;position:absolute;top:0;left:50%;margin-left:-50%}
#mainVisual .grap .obj .item:first-child{display:block}

#mainVisual .grap .obj .item:before{content:"";position:absolute;z-index:10;top:0;left:0;width:100%;height:100%;}

#mainVisual .grap .obj .item .r,
#mainVisual .grap .obj .item .l{position:absolute;top:0;width:100%;height:100%;overflow:hidden}
#mainVisual .grap .obj .item .r{left:-100%}
#mainVisual .grap .obj .item .l{right:-100%}

#mainVisual figure img {width:100%; height:520px;}
#mainVisual .objChildren{position:absolute;top:0;right:50px;z-index:10;width:220px;height:340px;margin:75px 0 0 0;padding:20px 30px;background:url(../img/visual_txtBg.png)}

#mainVisual .control{position:absolute; bottom:20px; width:100%;overflow:hidden;text-align:center; z-index:10;}
#mainVisual .control button{display:inline-block;width:21px;height:21px;background:url(../img/visual_control.png) no-repeat 0 center;vertical-align:middle}
#mainVisual .control button[data-type="stop"]{background-position:6px center}
#mainVisual .control button[data-type="play"]{background-position:-17px center;display:none}
#mainVisual .control span button{width:30px;height:4px;background:#ddd;box-shadow:0 0 3px #999;margin:0 5px;vertical-align:middle}
#mainVisual .control span button.ov{background:#f64b00}

#mainVisual .child{position:relative;margin-top:10px;height:295px}
#mainVisual .childItem{display:none;position:absolute;top:0;left:0;width:100%}
#mainVisual .childItem:first-child{display:block}
#mainVisual .childItem .childTit {display:block;text-align:center}
#mainVisual .childItem .childTit span {display:inline-block;border-bottom:1px solid #b8ff30;font-size:15px;font-weight:600;color:#b8ff30;line-height:1.3}
#mainVisual .childItem a{display:block;overflow:hidden;line-height:22px;color:#fff;line-height:1.4;text-align:justify;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 9; -webkit-box-orient: vertical; word-wrap:break-word}
#mainVisual .childItem i{font-family:'Nanum Myeongjo',sans-serif;font-size:30px;letter-spacing:-2px;font-weight: 600;font-style: normal;line-height:1.1;overflow: hidden; text-overflow: ellipsis; display:block; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;margin:15px 0 10px; height:65px;}
#mainVisual .childItem .title {font-family:'Nanum Myeongjo',sans-serif;font-size:30px;letter-spacing:-2px;font-weight: 600;font-style: normal;line-height:1.1;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word;margin:15px 0 10px;}
#mainVisual .childItem a p {display:block;overflow:hidden;line-height:22px;color:#fff;line-height:1.5;text-align:left;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 9; -webkit-box-orient: vertical; word-wrap:break-word; height:155px;}
#mainVisual .childItem a .text_ellipsis {display:block; font-size:18px; font-weight:600; line-height:1; margin-top:-5px;}
#mainVisual .childMore {border-top:1px solid #bdc3b9; padding-top:7px;display:block}
#mainVisual .childMore .more{position:absolute;bottom:25px;right:30px;width:20px;height:20px;background:url(../img/icon_search_on.png) no-repeat}
#mainVisual .childMore .hit {font-weight:600;color:#fff}
#mainVisual .childMore .hit span {display:inline-block;padding:0 8px;background:#acb4a8;color:#103d0c;margin-right:3px;font-weight:400;font-size:11px;border-radius:15px;}



#mainVisual .parentControl{position:absolute;z-index:30;top:0;left:50%;width:1200px;margin-left:-600px}
#mainVisual .parentControl button[data-type]{position:absolute;top:210px;width:50px;height:60px;background:url(../img/allow_left.png) no-repeat center center; cursor:pointer;border:1px solid #fff;opacity:0.6;}
#mainVisual .parentControl button[data-type]:hover {opacity:1;}
#mainVisual .parentControl button[data-type="prev"]{left:-80px;background-image:url(../img/allow_left.png);}
#mainVisual .parentControl button[data-type="next"]{right:-80px;background-image:url(../img/allow_right.png);}
